body {
	max-width: 460px;
	margin: 0 auto;
	text-align: center;
}

p {
	margin: 0;
}

div {
	float: left;
	width: 32%;
	box-sizing: border-box;
	margin: 0 1px;
	width: 150px;
}

.date {
	text-align: center;
	color: white;
	background: #4AB;
	font-size: 25px;
}

.deg {
	text-align: center;
	font-size: 35px;
}

div:hover{
	box-shadow: 0 0 15px #000;
}

